<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8818ccdd09.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header id="Header">
        <nav class="img-h1">
            <img src="../static/img/logo-header.png" alt="body" class="logo">
            <h1>A su merced</h1>
        </nav>
        <!-------Menu Header--------->
        <div class="ul" >
            <ul class="main-ul">
                <a href="home.html">Menu</a>
                <a href="#quienes-somos" >Quienes somos</a> 
                <a href="#tiposDeTrabajos">Tipos Trabajos</a>
                <a href="/logout" class="cta">Cerrar Sesion</a>
            </ul>
        </div>

    </header>

    <!---CARRUSEL-CARTAS---->

    <section class="container-img">
        <div class="carrusel">
            <div class="carrusel-items">
                <div class="carrusel-item">
                    <img src="../static/img/img5.png" alt="img1">
                </div>
                <div class="carrusel-item">
                    <img src="../static/img/img2.png" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="../static/img/img3.png" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="../static/img/img4.png" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="../static/img/img7.png" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="../static/img/img8.png" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="../static/img/img9.png" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="../static/img/img10.png" alt="">
                </div>
                <div class="carrusel-item">
                    <img src="../static/img/img11.png" alt="">
                </div>
            </div>

        </div>
    </section>

    <!---SECTION-T.TRABAJOS----->

    <section id="tiposDeTrabajos">
        <h2>Tipos de Trabajos</h2>
        <div class="container-cartas">
            <div class="cartas">
                <figure>
                    <img src="../static/img/car.png" alt="" class="img">
                </figure>
                <div class="contenido">
                    <h3>Electricista</h3>
                    <ul>
                        <li>Cableado desde cero</li>
                        <li>Reparaciones</li>
                        <li>Renovaciones de todo tipo</li>
                        <li>Ejemplo</li>
                        <li>Ejemplo</li>
                    </ul>
                    <div class="button">
                        <a href="#">Consultar</a>
                    </div>
                </div>
            </div>
            <div class="cartas">
                <figure>
                    <img src="../static/img/carta1.png" alt="" class="img">
                </figure>
                <div class="contenido">
                    <h3>Durlock</h3>
                    <ul>
                        <li>Instalacion</li>
                        <li>Reparaciones</li>
                        <li>Ejemplo</li>
                        <li>Ejemplo</li>
                        <li>Ejemplo</li>
                    </ul>
                    <div class="button">
                        <a href="#">Consultar</a>
                    </div>
                </div>
            </div>
            <div class="cartas">
                <figure>
                    <img src="../static/img/carta2.png" alt="" class="img">
                </figure>
                <div class="contenido">
                    <h3>Albañileria</h3>
                    <ul>
                        <li>Obras de cero</li>
                        <li>Renovacion</li>
                        <li>Ejemplo</li>
                        <li>Ejemplo</li>
                        <li>Ejemplo</li>
                    </ul>
                    <div class="button">
                        <a href="#">Consultar</a>
                    </div>
                </div>
            </div>
            <div class="cartas">
                <figure>
                    <img src="../static/img/carta3.png" alt="" class="img">
                </figure>
                <div class="contenido">
                    <h3>Gasista</h3>
                    <ul>
                        <li>Reparaciones</li>
                        <li>Instalaciones</li>
                        <li>Ejemplo</li>
                        <li>Ejemplo</li>
                        <li>Ejemplo</li>
                    </ul>
                    <div class="button">
                        <a href="#">Consultar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----SECTION-CARACTERISTICAS-->

    <section id="caracteristicas">
        <h2>Caracteristicas</h2>
        <div class="container-caracteristicas">
    
            <div class="img-caracteristicas">
                <ul>
                    <li>✔️ 100% Fiable</li>
                    <li>✔️ Compromiso </li>
                    <li>✔️ Cumplimos con sus espectativas</li>
                    <li>✔️ Trabajo prolijo</li>
                    <li>✔️ Cuidamos sus bolsillos</li>
                </ul>
                <img src="../static/img/car.png" alt="imagen-caracteristica" class="car">
            </div>
        </div>
    </section>

    <!----SECTION-Q.SOMOS--->

    <section id="quienes-somos">
        <div class="img-quienes-somos"><img src="../static/img/quienessomos.png" alt=""></div>
        <div class="container-quienes-somos">
            <h2>Quienes <br> Somos</h2>
            <p>c Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sed iusto odio iure? Quia vero molestiae, sint incidunt natus illo pariatur ut repudiandae voluptates voluptatem harum rem, debitis blanditiis. Id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et rerum eum quibusdam consequatur maiores voluptates dolorum labore accusamus. Asperiores laudantium sapiente ipsam doloribus praesentium quos repudiandae ea quo. Laudantium, nostrum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam vel quisquam enim, libero, sequi quos eos ipsa, tempore ad odit minus saepe dicta fugiat quod earum. Assumenda soluta rem rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolorum vitae animi magni quos dolores, blanditiis quam ex, iste placeat, laboriosam cum vero praesentium! Autem quisquam deserunt quidem voluptates dignissimos?</p>
        </div>
    </section>

    <!---FORMULARIO-CONSULTAS-->
    <section class="formulario-consulta">
        <div class="content">

            <h1 class="logi">Consultas</h1>
    
            <div class="contact-wrapper animated bounceInUp">
                <div class="contact-form">
                    <form action="/consult" method="POST">
                        <p>
                            <label>Nombre Completo</label>
                            <input type="text" name="fullname" id="fullname">
                        </p>
                        <p>
                            <label>email</label>
                            <input id="email" type="email" name="email">
                        </p>


                        <p>
                            <label>Numero de telefono</label>
                            <input id="numberPhone" type="text" name="numberPhone">
                        </p>
            
                        <p class="block">
                           <label>Expliquenos su problema</label> 
                           <input type="text" id="consult" name="consult">
                        </p>
                        <p class="block">
                            <button>
                                Send
                            </button>
                        </p>
                    </form>
                </div>
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> Baker Street</li>
                        <li><i class="fas fa-phone"></i> (111) 111 111 111</li>
                        <li><i class="fas fa-envelope-open-text"></i> contact@website.com</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident ipsam necessitatibus repellendus?</p>
                    <p>Company.com</p>
                </div>
            </div>
    
        </div>
    </section>

    <script src="../static/JS/carrusel.js"></script>
    <p>&copy;EmpresasLiuterias</p>
</body>
</html>